@import 'tailwindcss';

html{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif, Verdana, Geneva, Tahoma, sans-serif;
    
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
}


:root {
    /* factor de escala = ancho de viewport / 1440px (ancho de tu diseño) */
    --header-scale: calc(100vw / 1440);
  }
  
  .scale-wrapper {
    width: 1440px;                /* fijo, ancho de diseño */
    transform-origin: top left;   /* escala desde la esquina */
    transform: scale(var(--header-scale));
  }